/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {
	float: left;
	display: block;
	margin: 0 10px 0 0;
}
.jqTransformRadio {
	background: transparent url(../images/radio.png) no-repeat center top;
	vertical-align: middle;
	height: 18px;
	width: 18px;
	display: block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper {
	display: block;
	float: left;
	margin: 2px 10px 0 0;
}
a.jqTransformCheckbox {
	background: transparent url(img/checkbox.png) no-repeat center top;
	vertical-align: middle;
	height: 12px;
	width: 12px;
	display: block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked {
	background-position: center bottom;
}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100% !important;
	position: relative;
	float: left;
	margin: 0 0 0px;
	height:28px;
}
.jqTransformSelectWrapper div span {
	float: none;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	width: 100% !important;
	font-family: 'Montserrat', sans-serif;
	color:#565656;
	font-size:12px;
	line-height:16px;
	padding:6px 0 6px 20px;
	width:100%;
	height: 100%;
	font-weight:normal;
}
.jqTransformSelectWrapper a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/gray_down.png) no-repeat 8px center;
}
.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100% !important;
	top: 100%;
	left:0px;
	height: auto !important;
	list-style: none;
	z-index: 1020 !important;
	display: none;
	margin: 0px !important;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	border-top:2px solid #c1c1c1 !important;
}
.jqTransformSelectWrapper li {
	background: none;
	padding:0 !important;
	margin: 0;
	float:left;
	width:100%;
	border:2px solid #c1c1c1;
	border-top:0;
	border-bottom:0;
	background:#eeecf2;
}
.jqTransformSelectWrapper ul a {
	font-family: 'Montserrat', sans-serif;
	color:#565656;
	font-size:12px;
	line-height:16px;
	padding:6px 0 6px 20px;
	width:100%;
	float:left;
	font-weight:normal;
}
.jqTransformSelectWrapper ul a.selected {
	border:2px solid #5bbb2d;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
	display: none;
}
